<div>
   <span id="dashoboard">
        <form>
            <h3> Link threshold 5 <input id="threshold" type="range" id="thersholdSlider" name="points" value = 0 min="5" max="20"> 20 </h3>
        </form>
   </span>
   <span id="node-info">
        <h2 class="node-name"></h2>
   </span>
</div>

<div id="graph">
	
</div>