<div>
   <div id="dashboard">
        <h3> Link threshold 5 <input id="threshold" type="range" id="thersholdSlider" name="points" class="form-control" value="5" min="5" max="20"> 20 </h3>
        <input type="text" id="search" class="form-control" placeholder="輸入系所名稱">
        <button id="search_submit" class="btn btn-default">Search</button>
   </div>
   <span id="node-info">
        <h2 class="node-name"><a href="#"></a></h2>
   </span>
</div>

<div id="force">
	
</div>