<div class="container" id="dep_index">
	<div class="row" >
		<div class="col-md-offset-1 col-md-10">
			<div id="search">
				<%= form_tag search_departments_path, :method => :post, :class => 'form-inline' do %>
						<div class="form-group" style="width: 100%;">
							<%= text_field_tag :dep_no, nil, class: "form-control" ,autofocus: true, placeholder: "輸入完整系所名稱" %>
							<button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
						</div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="row">
	<div style="padding: 0 50px;">
		<% @colleges.each do |c| %>
			<%= link_to college_path(c) do %>
			<div class="col-md-3 one-college">
				<%= c.name %>
			</div>
			<% end %>
		<% end %>
	</div>
	</div>
</div>