<div class="container">
	<div class="row">
		<table class="table">
			<thead>
			<tr>
				<th>name</th>
				<th>Rscore</th>
				<th>mu</th>
				<th>sigma</th>
				<th>action</th>
			</tr>
			</thead>
			<tbody>
			<% @departments.each do |d| %>
				<tr>
					<td><%= link_to d.name, department_path(d) %></td>
					<td><%= d.ts_rscore %></td>
					<td><%= d.ts_mu %></td>
					<td><%= d.ts_sigma %></td>
					<td>add to graph</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>