<div class="container">
	<div class="row ">
		<br />
		<br />
		<br />
		<h1 class="text-center tit">全國最大的大專院校系所分析</h1></br></br><p id=tit2>上線啦！</p>
	</div>
	<div class="row">
		<div class="col-md-6 function " >
			<h2><%= image_tag "text017_04.gif", class: "fd" %>Department</h2>
		</div>
		<div class="col-md-6 function ">
			<h2><%= image_tag "text017_03.gif", class: "fd" %>Network</h2>
		</div>
		<div class="col-md-6 function">
			<h2>Prediction</h2>
		</div>
		<div class="col-md-6 function">
			<h2>Ranking</h2>
		</div>
	</div>
	<!-- <div>
		<h2 class="col-md-4">
			<ul>
				<li>Department</li>
				<li>Network</li>	
			</ul>	
		</h2>
	</div> -->
</div>