@import "variables";

#department_index #search{
	margin-top: 20px;
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	position: static;
}
#department_index .search_wrap{
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 60px;
  	padding: 0 46px 0 10px;
	border-color: #888;
  	border-radius: 35px; /* (height/2) + border-width */
  	border-style: solid;
	border-width: 5px;
  	margin-top: 15px;
  	color: #333;
  	font-family: 'Helvetica', sans-serif;
	font-size: 26px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.btn_css{
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
  	padding: 0;
  	border: none;
  	margin-top: 20px; /* margin-top + border-width */
  	margin-right: 0px; /* border-width */
  	background: transparent;
  	color: #888;
  	font-family: 'Helvetica', sans-serif;
  	font-size: 60px;
  	line-height: 60px;
}

#department_index #submit{
	margin-bottom: 10px;
}
#department_index .one-college{
	border-bottom: solid 2px black;
}

#department_index .one-college a{
	color: #272923;
	font-size: 30px;
}
#show .outline{
	margin-top: 10px;
	border : solid 2px black; 
}
#show .one-depart{
	border-bottom: solid 2px black;
}
#show .one-depart a{
	color: #272923;
	font-size : 30px;
}
.outline{
	border : solid 2px black;
}

#dep_show .panel-custom{
	.panel-heading{
		background-color: $dark_gray;
		color: #ffffff; 
	}
}
