@import "variables";

#show .outline{
	margin-top: 10px;
	border : solid 2px black; 
}
#show .one-depart{
	border-bottom: solid 2px black;
}
#show .one-depart a{
	color: #272923;
	font-size : 30px;
}
.outline{
	border : solid 2px black;
}


#dep_index{
	#search{
		margin: 20px 0 20px 0;
		input[type="text"]{
			width: 90%;
		}
		button{
			width: 5%;
		}
	}
	.one-college{
		padding: 10px;
		background-color: #fff;
		border-bottom: #ddd 1px solid;
		border-right: #ddd 1px solid;
		font-size: 18px;
		color: #333;
		&:hover{
			background-color: $light_green;
			color: #fff;
		}
	}
}

#dep_show{
	.panel-custom .panel-heading{
		background-color: $light_gray;
		color: #ffffff; 
	}
}

.ui-menu{
	border: $light_green 2px solid;
	border-top: none;
	background-color: #fff;
	border-radius: 5px;
	padding-top: 5px;
	.ui-menu-item:hover, .ui-state-hover, .ui-state-focus{
		background: $light_green;
		color: #fff;
		outline: none;
		border: none;
	}
}
