#dashboard input{
	width: auto;
	display: inline-block;
}

#force circle{
    opacity: 0.5;    
}
#force circle.node-active{
    opacity: 1;
}
#force line{
    stroke-opacity: 0.3;
}
#force line.link-active{
    stroke-opacity: 0.7;
}
#force text{
    font-size: 12px;
}
