@import "variables";
#rank_index{
	.fields{
		font-size: 18px;
		.one-field{

			text-align: center;
			fieldset{
				border-top: 1px solid #999;
			}
			legend{
				width: auto;
				padding: 0 5px;
			}
		}
	}
}

#rank_show{
	.title-data{
		text-align: center;
		.number{
			margin-top: 10px;
			font-weight: bold;
			font-size: 22px;
		}
		.description{
			font-size: 14px;
			color: #999;
		}
	}
	.sort{
		cursor: pointer;
		&:hover{
			text-decoration: underline;
		}
		&.asc::after{
			content: "▲";
		}
		&.desc::after {
			content: "▼";
		}
	}
}