@import "variables";
#rank_index{
	.fields{
		font-size: 20px;
	}
}

#rank_show{
	.sort{
		cursor: pointer;
		&:hover{
			text-decoration: underline;
		}
		&.asc::after{
			content: "▲";
		}
		&.desc::after {
			content: "▼";
		}
	}
}