// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tit{
	font-family: "Microsoft YaHei";
	color : #272923;
	font-weight: bold;
}
#tit2{
	color : #272923;
	font-weight: bold;
	font-family: "Microsoft YaHei";
	font-size: 60px;
	text-align: center;
}

.function{
	color : #272923;
	border : solid 1px black;
	height: 300px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 10px;
}
.function h2{
	position:relative;
}


