// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tit{
	font-family: "Microsoft YaHei";
	color : #ea9215;
	font-weight: bold;
}
#tit2{
	color : #ea9215;
	font-weight: bold;
	font-family: "Microsoft YaHei";
	font-size: 60px;
	text-align: center;
}

