<nav class="navbar navbar-inverse navbar-fixed-top" id="navbar">
<div class="container">
  <div class="row">
    <div class="navbar-header" >
        <%= link_to 'College', root_path, class: "navbar-brand " %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ThisPlaceCollapse">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
    </div>
    <div class="navbar-collapse collapse" id="ThisPlaceCollapse">
        <ul class="nav navbar-nav" >
          <li><%= link_to 'Departments', departments_path %></li>
    			<li><%= link_to 'Network', force_path %></li>
          <li><%= link_to 'Rank', rank_path(1) %></li>
        </ul>
    </div>
  </div>
</div>
</nav>

